{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
        <h1>Exercice</h1>
{% endblock %}


{% block stylesheets %}
    <style>
        body {
            background: #5eb5e0;

        }

    </style>
{% endblock %}


{% block javascripts %}

{% endblock %}